h2 {
    margin-bottom: 2.625rem;
}

input {
    /* appearance: none; */
    width: 100%;
}

fieldset {
    border: none;
    margin-bottom: 3rem;
}

legend {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 1.5rem;
}

legend >img {
    width: 1.5rem;
    height: 1.5rem;
}

legend > span {
    font: var(--heading-sm)
}

label {
    display: inline-block;
    font: var(--body-sm-r);
}

textarea {
    resize: vertical;
}

label:has(+ input),
label:has(+ .radio-wrapper),
label:has(+ textarea) {
    margin-bottom: 0.75rem;
}


.input-wrapper,
.radio-wrapper,
.textarea-wrapper {
    width: 100%;
    height: 100%;
}

.input-wrapper > input,
.textarea-wrapper > textarea {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.8125rem 1rem;
    border: 2px transparent;
    font: var(--body-sm-r);
    color: var(--text-heading);
    outline: 2px solid var(--input-stroke);
}

.input-wrapper > input:focus,
.textarea-wrapper > textarea:focus {
    outline: 2px solid var(--brand-light);
}

.radio-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    height: 100%;
    gap: 0.5rem;
    padding: 0.25rem;

    border: solid 2px var(--input-stroke);
    border-radius: 0.5rem;
}

.radio-item {
    border-radius: .25rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    svg path {
        fill: var(--input-placeholder);
    }
}

.radio-item:hover {
    background-color: var(--shape-hover);
}

.radio-item:has(input[type="radio"]:checked) {
    background-color: var(--shape-button);

    svg path {
        fill: var(--brand-light);
    }
}

.radio-item input {
    all: unset;
    position: absolute;
    inset: 0;
}

